
html,
body,
#root {
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
}

/* globala styles för knappar */
button {
  font-family: inherit;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.4rem 1.25rem;
  border-radius: 10px;
  background: #28B394;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.2s, transform .1s;
  letter-spacing: 0.1rem;
}

button:active {
  transform: scale(0.96);
}

button:hover {
  background-color: #1F8C71;
    text-transform: uppercase;
  text-decoration: underline;
}

button:focus-visible,
button:focus {
  outline: 2px solid #0A5E50;
  outline-offset: 2px;
}


/* globala styles för glleri lightboxen */
:root {
    --yarl-overlay-bg: rgba(0, 0, 0, 0.9);
    --yarl-slide-max-width: 90vw;
    --yarl-slide-max-height: 90vh;
  }
  
  /* Om du vill vara extra bullet-proof */
  .yarl__container {
    background-color: var(--yarl-overlay-bg) !important;
  }
  .yarl__slide_image {
    /* låt bilden verkligen fylla wrappern */
    width: 30% !important;
    height: auto !important;
    max-width: var(--yarl-slide-max-width) !important;
    max-height: var(--yarl-slide-max-height) !important;
  }
  


/* Simplebar till lightbox - spåret */
.galleryWrapper .simplebar-track.simplebar-vertical{
  width: 8px !important;          /* !important slår inline-style */
  background: transparent;
}

/* tummen */
.galleryWrapper .simplebar-scrollbar:before{
  content: "";
  display: block;
  height: 100%;
  border-radius: 4px;
  background: #b996bc !important; /* grundfärg */
  transition: background .2s;
}

/* hover – valfritt */
.galleryWrapper .simplebar-track:hover
.simplebar-scrollbar:before{
  background: #916f9a !important; /* mörkare vid hover */
} 

/* sr = screen reader only */
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}