
/* blogSidebar.module.css */
.blogSidebar {
    background-color: #fafafa;
    padding: 1rem;
    border-left: 1px solid #ccc;
  }
  
  .archiveList {
    display: flex;
    flex-direction: column;
  }
  .archiveList li {
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .archiveList li:hover {
    color: #0070f3;
  }
  .archiveList,
  .tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  
  .archiveList a,
  .tagList a{
    padding: .25rem .5rem;
    border: 1px solid #666;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-size: .875rem;
  }
  .archiveList a[aria-current="true"],
.tagList a[aria-current="true"] {
  background: #af83aa;
  color: #fff;
  border-color: #af83aa;
}

aside button {
  margin-top: 20px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #666;
  color: #333;
}

