
.footer {
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background: #7b5978;
    margin: 0 auto;
    

}

.followerLinks{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.followerLinks img {
    width: 50px;
}
.linkList {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}

.linkList a {
  display: block;    
  text-decoration: none;
  color: white;
    justify-content: start;

}

/* aktiv länk */
.linkList a.active {
  border-bottom: 2px solid #fff;
}

.copyright {
  color: white;
  letter-spacing: 1px;
}

@media (max-width: 600px){
  .footer {
    flex-direction: column;
  }
  .followerLinks img{
    width: 40px;
    margin-bottom: 2rem;
  }
  .followerLinks {
    justify-content: center;
  }
  .linkList {
    justify-content: center;
    gap: 1rem;
  }
}