
.body {
  margin: 0;
  padding: 0;
}

.header {
  height: 500px;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
}
h1 {
  font-size: 4.2em;
  line-height: 1.1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 20px;
}

.burger {
  background: none;
  border: none;
  font-size: 2rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  display: none;
  background: #7b5978;
  margin-right: auto;
  align-items: center;
  color: #fff;
}

.stickyMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  background: #7b5978;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.stickyMenu a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 0.6rem;
}
.stickyMenu a:hover {
  opacity: 0.8;
  text-transform: uppercase;
  text-decoration: underline;
}
.stickyMenu .inactiveLink {
  color: #fff;
  text-decoration: none;
  outline: none;
}
.inactiveLink:hover,
.inactiveLink:focus-visible {
  text-decoration: underline;
}

.stickyMenu .activeLink {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}

/* Fokus‐stilar – väldigt viktiga för keyboard‐navigering */
.inactiveLink:focus-visible,
.activeLink:focus-visible {
  outline: 3px solid #ffffff; /* vit kant runt länk när den är fokuserad */
  outline-offset: 3px;
}

.linkList {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.linkList a {
  display: block;
  text-decoration: none;
}

/* aktiv länk */
.linkList a.active {
  border-bottom: 2px solid #fff;
}

@media (max-width: 768px) {
  /* visa hamburger */
  .burger {
    display: flex;
    margin-right: auto;
  }
  /* göm vanliga länkarna */
  .linkList {
    display: none;
  }
  .stickyMenu {
    background: #7b5978;
    gap: 0;
    padding: 0.25rem 0.5rem;
  }
}
