

.sidebarContainer {
    height: 100%;    
    box-sizing: border-box;

    padding: 1rem;
    background: #f6eada;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.sidebarContainer img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.sidebarContainer p {
    margin: 0;
    line-height: 1.45;
    text-align: justify;
}

  