
.mainContainer {
    flex: 1 1 0; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 0;
}

.pageContainer {
    display: flex;
    align-items: stretch;
    gap: 2rem,;
}

.mainContainer > :first-child {
    flex: 1 1 0%;
    min-width: 0;
}
.aside {
    flex: 0 0 280px;
    min-width: 220px;
}
.aside img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}
@media (max-width:1200px) {
  .aside { flex: 0 0 240px; }
}

@media (max-width:900px)  {
  .aside { flex: 0 0 190px; }
}

@media (max-width:600px)  {
  .pageContainer {            /* kolumn-layout i stället för rad */
    flex-direction: column;
  }

  .aside {
    width: 100%;
    order: -1;                /* visas över galleriet*/
  }
}